p {
    font-size:14;
    color:black;
    font: "font: 15px Arial, sans-serif;"
}

p.speech {
    font: "font: 15px Arial, sans-serif;";
    color: black;
    
}

P.stage-direction{
    background-color: skyblue;
    margin-left:20px;

}

p.stage-direction:hover{
    background-color:yellow;
    color:red;
}

h5.moranzone{
     color: mediumblue;
     margin-left: 10px;
}

h5.guido{
    color: mediumblue;
    margin-left: 10px;
}

h5.moranzone2{
    color: mediumblue;
    margin-left: 10px;
}

h5.guido2{
    color: mediumblue;
    border: green;
    margin-left: 10px;
}

h5.moranzo2:hover{
    color: red;
    text-shadow:2px 3px 5px green;
    border: red;
    filter: blur(1px);
}

h5.guido2:hover{
    color: red;
    text-shadow:2px 3px 5px green;
    border: red;
    filter: blur(1px);
}

table,td,th
{ 
    border: solid 1px ;
    text-align: center;
    width: 20%;
    color: black;
    padding: 10px;
    margin: 20px;
}

tr:nth-child(even) {
    background-color:#ccc;
  }

  #content {
    position: relative;
}
#content img {
    position: absolute;
    top: 170px;
    right: 30px;
    height: 325px;
    width: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
    
  ul.navbar-horizontal a:hover{
    background-color: #555;color:purple;
  }

  .ico:before{
    content: '';
    background:url('mic.png');
    background-size:cover;
        position:absolute;
    width:20px;
    height:20px;
    margin-left:-10px;
}
